// Palette

$color-light-green: #c8dc64;
$color-dark-green: #82a078; 

$color-light-blue: #94c7e0;
$color-dark-blue: #64afdc;

$color-light-purple: #cf9fff;
$color-dark-purple: #8c78af;

$color-light-grey: #f0f0f0;
$color-dark-grey: #73736d;